/* ここから下に記載していく */
@charset "utf-8";

/* Body */
.wrap {
    background: white;
}



/* Header */

.header_logo {
    margin-top: auto;
    margin-bottom: auto;
    width: 32%;
    height: 32%;
}

.main_nav {
    display: flex;
    font-size: 21px;
    line-height: 1.7;
    color: #222222;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main_nav li {
    margin-left: 50px;
}

.main_nav a {
    color: #222222;
}

.main_nav a:hover {
    color: #222222;
}

.header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}



/* Main Visual */
.main_visual {
    font-size: 24px;
    text-align: center;
    position: relative;
}

.sekai { 
    font-size: 40px;
    color: #fafafa;
    text-align: center;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:30px;
    margin:0px;
}

.cheeseacademy {
    font-size: 28px;
    color: #fafafa;
    text-align: center;
    margin: 30px;
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:0;
    margin:0;
}



/* About */

.about {
    text-align: center;
    color: #ffd61a;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.about_text {
    text-align: center;
    font-size: 18px;
    color: #222222;

}

.cheese_about {
    margin-bottom: 60px;
}

.cheese_school {
    margin-bottom: 40px;
}

.cheese_jikyu {
    margin-bottom: 10px;
}

.cheese_shokutaku {
    margin-bottom: 40px;
}

.cheese_ayumi {
    margin-bottom: 40px;
}

.cheese_backup {
    margin-bottom: 10px;
}

.container_pic {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}


/* Course */

.course {
    text-align: center;
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.course_text {
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
}


  
/* Flexbox */

.example li {
	display: flex;
    justify-content: center;
}

.example li:nth-child(even) {
	flex-direction: row-reverse;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

.txt {
    background-color: #fafafa;
    font-size: 16px;
    width: 583px;
    height: 360px;
    padding: 50px;
    line-height: 30px;
}


/* News */

.news {
    text-align: center;
    color: #ffd61a;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
}


.item_news {
    list-style-type: none;
    display:inline-block;
    padding: 10px 0;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
}


.content {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.card_wrap {
    display: flex;
    /* justify-content: space-between; */
}

.card_list {
    max-width: 300px;
    margin-right: 30px;
}

.card_list:nth-child(3n) {
    margin-right: 0;
}


.card_listText {
    line-height: 1.8;
    max-width: 300px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.more_btn {
    width: 300px;
    height: 60px;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #ffd61a;
    line-height: 1;
    border-radius: 50px;
    transition: all .2s;
  }

  .more_btn {
    /*背景色と同じ枠色を追加*/
    border: 2px solid #ffd61a;
    margin-bottom: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
  }

  .more_btn:hover{
    background-color: #fff;
    border-color: #ffd61a;
    color: #ffd61a;
  }

  .more_btn:hover{
    opacity: 0.6;
  }


/* Access */
.greyfield {
    background-color: #fafafa;
}

.access {
    text-align: center;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
}

.company {
    text-align: center;
    margin-bottom: 60px;
}

.gmap {
    text-align: center;
}

.companyinfo {
    margin-top: 60px;
    text-align: center;
    line-height: 50px;
    padding-bottom: 60px;
}


/* Contact */
.contact {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


.setsumei {
    text-align: center;
    margin-bottom: 60px;
}

.setsumei2 {
    text-align: center;
    margin-bottom: 30px;
}

.setsumei3 {
    text-align: center;
    margin-bottom: 70px;
}

/* Table */
.contact-form {
    width: 1000px;
    margin:0 auto;
}

table {
    text-align: center;
}

th {
    border-bottom: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    width: 240px;
}

td {
    border-bottom: #bfbfbf 1px solid;
    border-left: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    width: 400px;
}

.cp_iptxt {
    position: relative;
    width: 90%;
    margin: 15px 3%;
}

.cp_iptxt input[type='text'] {
    font: 10px;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 1px;
    color: black;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
}

.ef input [type='text']:focus {
    border: 1px solid gold;
    outline: none;
    box-shadow: 0 0 5px 1px yellow;
}

.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.box {
    text-align: left;
    line-height: 24px;
}



/* .contact-form {
    width:80%;
    margin:0 auto;
    text-align: center;
}

.content-form table, .contact-form {
    width:100%;
    margin-bottom: 15px;
} */

.submit_btn {
    width: 300px;
    height: 60px;
    font-size: 18px;
    position: relative;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #ffd61a;
    line-height: 60px;
    border-radius: 50px;
    transition: all .2s;
    margin-top: 30px;
    margin-bottom: 140px;
  }

  .submit_btn:hover {
    transform: scale(1.1, 1.1);
  }


/* Footer */
.footer {
    text-align: center;
    color: #fafafa;
    background-color: #707070;
    padding: 30px;
}